:root {
  --ion-font-family: 'Outfit', sans-serif;

  --ion-color-primary: #0f766e;
  --ion-color-primary-rgb: 15, 118, 110;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0d685f;
  --ion-color-primary-tint: #27847d;

  --ion-color-secondary: #134e4a;
  --ion-color-secondary-rgb: 19, 78, 74;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #114541;
  --ion-color-secondary-tint: #2b605c;

  --ion-color-medium: #64748b;
  --ion-color-medium-rgb: 100, 116, 139;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #58667a;
  --ion-color-medium-tint: #748297;

  --ion-color-danger: #b42318;
  --ion-color-danger-rgb: 180, 35, 24;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #9e1f15;
  --ion-color-danger-tint: #bc392f;

  --ion-background-color: #dce8ea;
  --ion-text-color: #102a2e;
}
